{
  "listen": "localhost:8084",
  "upstream": "s3.",
  "redis": "/tmp/redis.sock",
  "redisdb": 0,
  "drives": ["/tmp"],
  "purgeWhiteList": {"127.0.0.1": true},
  "rangedExtensions": {"mp4": true}
}
